<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Book Rating</title>
  </head>
  <body>
    <p>Name:Author - {{ book['title'] }} : {{ book['author'] }}</p>
    <p>Current rating - {{ book['rating'] }}/10</p>
    <form action="{{ url_for('edit', id=book['id']) }}" method="POST">
      <label>Rating</label>
      <input name="rating" type="number" step="0.1" min="0" placeholder="New rating" required>
      <button type="submit">Update rating</button>
    </form>
  </body>
</html>
